.App {
  width: 100%;
  text-align: center;
display: flex;
flex-direction: column;
}

button {
background-color: rgb(241, 234, 234);
border-radius: 20px;
height: 45px;
margin: 5px 0px;
}


.Final {
margin-top: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.ButtonFinal {
display: flex;
border-radius: inherit;
background: #2C8FDF;
font-weight: 100 !important;
height: 40px;
width: 90px;
border-radius: 15px;
color: aliceblue;
justify-self: center;
justify-items: center;
justify-content: center;
align-items: center;
}